numpy==1.26.1
torch==2.5.1
torchvision==0.20.0
opencv-python-headless==4.11.0.86
pillow==10.2.0
tensorflow==2.18.0
onnxruntime==1.20.1
retinaface==0.0.17
streamlit==1.41.1
gdown==5.2.0
toml==0.10.2
rich==13.9.4
scikit-learn==1.6.1
scipy==1.15.1
tqdm==4.67.1
flask==3.1.0
flask-cors==5.0.0
requests==2.32.3
