numpy==1.26.3
torch==1.8.1
torchvision==0.9.1
opencv-python-headless==4.5.3.56
pillow==8.2.0
tensorflow==2.5.0
onnxruntime==1.8.1
retinaface==1.1.1
streamlit==0.82.0
gdown==3.13.0
toml==0.10.2
rich==10.2.2
scikit-learn==0.24.2
scipy==1.6.3
tqdm==4.61.0
flask==2.0.1
flask-cors==3.0.10
requests==2.25.1
psutil==5.8.0
